@font-face { font-family: CartoonRelief; src: url('CartoonRelief.ttf'); } 
		/*img:hover { 
   			color: black;
   			border: 0.1px solid #e5e5e5;
   			-webkit-transition-duration: 0.2s;
    		transition-duration: 0.2s; 
    		padding: 0px;
			Margin - Border - Padding - Content
}*/

body{
	font-color: black;
	font-size: 20px;
    background-image: url('../img/marist_pic2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	max-height: 300vh;
    min-height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(225,225,225,0.5);
}

table{
	width: %100;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
th{
	text-align: center;
	font-family: CartoonRelief;
	font-size: 40px;
}
h1{
	font-family: CartoonRelief; 
	font-size: 100px;
}
h2{
	font-family: CartoonRelief;
	font-size: 40px;
}
#utilities{
    text-align: right;
    padding-top: 10px;
}
#currentUser{
	text-align: left;
    padding-top: 10px;
}
