@font-face { font-family: CartoonRelief; src: url('chrysalis.filled.ttf'); }
		/*img:hover {
   			color: black;
   			border: 0.1px solid #e5e5e5;
   			-webkit-transition-duration: 0.2s;
    		transition-duration: 0.2s;
    		padding: 0px;
			Margin - Border - Padding - Content
}*/

body{
	font-family: CartoonRelief;
	color: black;
	font-size: 20px;
    background-image: url('../img/marist_pic2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	max-height: 300vh;
    min-height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(225,225,225,0.5);
}
#delete {
    padding:5.5px 15px;
	font-family: CartoonRelief;
    background: #F20707;
	font-size: 16px;
	color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#done {
	padding:5.5px 15px;
    background: #3366ff;
	font-size: 16px;
	color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#newGame {
	font-family: CartoonRelief;
	padding:5.5px 15px;
    background: Green;
	font-size: 16px;
	color:white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#delete:hover {
    padding:5.5px 15px;
    background:#C12828;
	font-size: 16px;
	color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px
	
    border-radius: 5px;
}
.thumbnail{
	height: 350px;
}
table{
	width: 100%;
	font-family: Arial;
}
p{
	font-family: Arial;
}
input{
	font-family: Arial;
}
th{
	text-align: center;
	font-family: Arial;
	font-size: 40px;
}

h1{
	font-family: CartoonRelief;
	color: Black;
	font-size: 80px;
}
h2{
	font-family: CartoonRelief;
	font-size: 40px;
}
#utilities{
    text-align: right;
    padding-top: 10px;
}
#currentUser{
	text-align: left;
    padding-top: 10px;
}
